[submodule "SDL-Collision-Events"]
	path = SDL-Collision-Events
	url = https://github.com/PaulFSherwood/SDL-Collision-Events.git

[submodule "PlantSimulator"]
	path = PlantSimulator
	url = https://github.com/PaulFSherwood/PlantSimulator.git
